body {
  background-color: #E0FFFD;

}

h1 {
  margin-left: 50px;
  width: 300px
}

form { 
  text-align: center;
  margin: auto;
  background-color: #FAF0FB;
  width: 300px;
}

#patient_name {
  padding: 10px;
  margin: 20px;
}

#patient_IC {
  padding: 10px;
  margin: 20px;
}

#patient_passport {
  padding: 10px;
  margin: 20px;
}

#patient_DOB {
  padding: 10px;
  margin: 20px;
  width: 163px;
}

#add_patient {
  padding: 10px;
  margin: 20px;
  margin-top: 50px;
  margin-left: 111px
}
