body {
  background-color: #FAF0FB;
}

h1 {
  margin-left: 50px;
  width: 500px;
}

form { 
  text-align: center;
  margin: auto;
  background-color: #E0FFFD;
  width: 300px;
  margin-top: 20px;
  padding: 30px;
}

#label_patient_name {
  display: flex;
  margin-top: 20px;
}

#patient_name {
  padding: 10px;
  margin: auto;
  width: 277px;
}

#label_patient_IC {
  display: flex;
  margin-top: 20px;
}

#patient_IC {
  padding: 10px;
  margin: auto;
  width: 277px;
}

#label_patient_passport {
  display: flex;
  margin-top: 20px;
}

#patient_passport {
  padding: 10px;
  margin: auto;
  width: 277px;
}

#label_patient_DOB {
  display: flex;
  margin-top: 20px;
}

#patient_DOB {
  padding: 10px;
  margin: auto;
  width: 277px;
}

#update_button {
  margin-top: 30px;
  padding: 5px;
  width: 80px;
  margin-left: 220px;
}