<!DOCTYPE html>
<html>
  <head>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='/add_patient.css') }}"/>
    <link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Add Patient</title>
  </head>
  <body>
    <h1>
      Add Patient
      <a href="/">
        <i class="fa fa-home" style="font-size:30px"></i>
      </a>
    </h1>
    <form method="POST" action="{{ url_for('add_patient') }}">
      <input type="text" id="patient_name" name="patient_name" placeholder="Name" required><br>

      <input type="text" id="patient_IC" name="patient_IC" placeholder="IC (without -)" required><br>

      <input type="text" id="patient_passport" name="patient_passport" placeholder="Passport"><br>

      <input type="date" id="patient_DOB" name="patient_DOB" placeholder="Date of Birth" required><br>

      <input type="submit" id="add_patient" value="Add Patient">
    </form>
  </body>
</html>
