<!DOCTYPE html>
<html>
  <head>
    <title>Add to Cart</title>
  </head>
  <body>
    <h1>Order Medication for {{ patient_name }}</h1>
    <form method="POST" action="/submit_cart/{{patient_ID}}">
      <label for="medicine_name">Medicine:</label>
      <select name="medicine_name" id="medicine_name">
        {% for medicine in medicines %}
        <option value="{{ medicine }}">{{ medicine }}</option>
        {% endfor %}
      </select>
      <br>
      <label for="quantity">Quantity:</label>
      <input type="number" name="quantity" id="quantity" value="1" min="1">
      <br>
      <button type="submit">Add to Cart</button>
      <a href="{{ url_for('view_cart', patient_ID=patient_ID) }}">View Shopping Cart</a>
    </form>
  </body>
</html>
