<!DOCTYPE html>
<html>
  <head>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='/add_to_cart.css') }}"/>
    <link 
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <title>Add to Cart</title>
  </head>
  <body>
    <h1>Order Medication for {{ patient_name }}
      <a href="/view_patient">
        <i class="material-icons" style="font-size:25px">people</i></a>
    </h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li class="{{ message[1] }}">{{ message[0] }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form method="POST" action="/add_to_cart/{{patient_ID}}">
      <label for="medicine_name">Medicine:</label>
      <select name="medicine_name" id="medicine_name">
        {% for medicine in medicines %}
        <option value="{{ medicine }}">{{ medicine }}</option>
        {% endfor %}
      </select>
      <br>
      <label for="quantity">Quantity:</label>
      <input type="number" name="quantity" id="quantity" value="1" min="1">
      <br>
      <button type="submit" onclick="location.href='/add_to_cart/{{patient_ID}}'">Add to Cart</button>
      <br>
      <button type="button" onclick="location.href='/view_cart/{{patient_ID}}'">View Shopping Cart</button>
    </form>
  </body>
</html>
