<!DOCTYPE html>
<html>
<head>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='/edit_medicine.css') }}"/>
    <link 
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title>Edit Medicine</title>
</head>
<body>
    <h1>
        Edit Medicine
        <a href="/view_medicine">
			<i class="material-icons" style="font-size:25px">people</i>
		</a>
    </h1>
    <form method="POST">
        <label for="medicine_name">Medicine Name:</label>
        <input type="text" id="medicine_name" name="medicine_name" value="{{ medicine[1] }}" required><br><br>

        <label for="allergen_name">Allergen:</label>
        <select id="allergen_name" name="allergen_name">
            {% for allergen in allergens %}
            <option value="{{ allergen }}" {% if allergen == medicine[2] %}selected{% endif %}>{{ allergen }}</option>
            {% endfor %}
        </select><br><br>

        <button type="submit" id="save_button" value="Save Changes">Save Changes</button>
    </form>
</body>
</html>
