<!DOCTYPE html>
<html>
  <head>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='/homepage.css') }}"/>
    <title>Homepage</title>
  </head>
  <body>
    <h1>Welcome to the Patient Management System</h1>
    <button type="button" id="add_patient" onclick="location.href='/add_patient'">Add New Patient</button>
    <br>
    <button type="button" id="view_patient" onclick="location.href='/view_patient'">View Existing Patient</button>
    <br>
    <button type="button" id="admin_homepage" onclick="location.href='/admin_homepage'">Admin Homepage</button>
  </body>
</html>