<!DOCTYPE html>
<html>
  <head>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='/view_cart.css') }}"/>
    <link 
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <title>View Cart</title>
  </head>
  <body>
    <h1>
      View Cart
      <a href="/view_patient">
        <i class="material-icons" style="font-size:25px">people</i>
      </a>
    </h1>
    <p>Patient's Name: {{ patient_name }}</p>
    <p>Patient's ID: {{patient_ID}}</p>
    {% if cart_items %}
      <table>
        <thead>
          <tr>
            <th>Medicine Name</th>
            <th>Quantity</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for item in cart_items %}
            <tr>
              <td>{{ item[3] }}</td>
              <td>{{ item[2] }}</td>
              <td>
                <form method="POST">
                  <input type="hidden" name="medicine_ID" value="{{ item[1] }}">
                  <button type="submit" name="remove">Remove</button>
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <form method="POST" action="{{ url_for('submit_cart', patient_ID=patient_ID) }}">
        <button type="submit" id="submit_button" name="submit">Submit Cart</button>
      </form>
      <button type="submit" onclick="location.href='/add_to_cart/{{patient_ID}}'">Back to Cart</button>
    {% else %}
      <p>Your cart is empty.</p>
    {% endif %}
  </body>
</html>
