<!DOCTYPE html>
<html>
  <head>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='/view_transaction_history.css') }}"/>
    <link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link 
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Transaction History</title>
  </head>
  <body>
    <h1>Transaction History
      <a href="/view_patient">
        <i class="material-icons" style="font-size:25px">people</i>
      </a>
    </h1>
    <p>Patient's Name: {{ patient_name }}</p>
    <p>Patient's ID: {{ patient_ID }}</p>
    {% if transaction_history %}
      <table>
        <thead>
          <tr>
            <th>Purchase Date</th>
            <th>Medicine Name</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          {% for transaction in transaction_history %}
            <tr>
              <td>{{ transaction[3] }}</td>
              <td>{{ transaction[1] }}</td>
              <td>{{ transaction[2] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p id="no_transaction_message">No transaction history found.</p>
    {% endif %}
  </body>
</html>
