<!DOCTYPE html>
<html>
<head>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='/view_medicine.css') }}"/>
    <link 
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>View Medicine</title>
</head>
<body>
    <h1>
        View Medicine
        <a href="/admin_homepage">
            <i class="material-icons" style="font-size:25px">people</i>
		</a>
    </h1>
    <table>
        <thead>
            <tr>
                <th>Medicine Name</th>
                <th>Allergen Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for medicine in medicine_list %}
            <tr>
                <td>{{ medicine[4] }}</td>
                <td>{{ medicine[3] }}</td>
                <td><a href="/edit_medicine/{{medicine[1]}}">
                    <i class="fa fa-edit" style="font-size:25px"></i>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
